# .vscode
.vscode
.eslintrc*


# Ignore file with token
*token*
.*token*

# Ignore DS_Store
.DS_Store

# Ignore logs folder
/logs

# Ignore config
/config

# Ignore node_modules
/node_modules
/.idea/bomboclaat.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLibraryMappings.xml
/.idea/codeStyles/Project.xml
/.idea/jsLinters/eslint.xml
