# .vscode
.vscode
.idea
.eslintrc*


# Ignore file with token
*token*
.*token*

# Ignore DS_Store
.DS_Store

# Ignore logs folder
/logs

# Ignore config
/config

# Ignore node_modules
/node_modules

# Ignore ts build result
/build